<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to my truth tables!</title>
	</head>
	<body>
	<% if @p.nil? && @q.nil? %>	
	  <form name="form">
     	<b>p:</b>
	  	<select name="p">
	  	  <option value="true">true</option>
			  <option value="false">false</option>
		  </select>
	    <br>
    	<b>q:</b>
  		<select name="q">
  	 	  <option value="true">true</option>
		    <option value="false">false</option>
	    </select>
	    <br>
	    <input type="submit" value="Generate Table"/>
    </form>
	<% else %>
	  <table border="1">
		  <tr>
			  <th>p</th>
			  <th>q</th>
			  <th>p && q</th>
			  <th>p || q</th>
			  <th>!p && q</th>
			  <th>!q</th>
			  <th>p || !q</th>
		  </tr>
			<tr>
		    <td><%= @p %></td>
		    <td><%= @q %></td>
			  <td><%= @p && @q %></td>
			  <td><%= @p || @q %></td>
			  <td><%= !@p && @q %></td>
			  <td><%= !@q %></td>
			  <td><%= @p || !@q %></td>
			</tr>
	  </table>
    <a href="http://localhost:4567/index">Start Over</a>
	<% end %>
	</body>
</html>
	
		
			
